$font-sans: "Raleway", sans-serif;
.tops {
  position: relative;
  height: 65px;
  .topNav {
    position: fixed;
    height: 65px;
    width: 100%;
    background-color: transparent;
    transition: top 0.6s;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    .navall {
      position: relative;
      width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      height: 100%;
      .logo {
        position: relative;
        top: 0.5em;
        img {
          height: 35px;
          width: 35px;
          object-fit: contain;
        }
      }
      .navs {
        position: relative;
        display: inline-flex;
        .one {
          ul {
            position: relative;
            list-style: none;
            display: flex;
            flex-direction: row;
            li {
              position: relative;
              font-family: $font-sans;
              font-weight: 400;
              margin-left: 1em;
              padding: 0.3em;
              padding-bottom: 0.3em;
              cursor: pointer;
              a {
                position: relative;
                text-decoration: none;
                color: #000;
                font-size: 14px;
                &:hover {
                  color: rgba(0, 0, 0, 0.548);
                }
              }
              &:hover {
                border-bottom: 2px solid #000; // 64ffda
              }
            }
          }
        }
        .two {
          position: relative;
          margin-left: 1em;
          top: 1.5em;
          a {
            position: relative;
            text-decoration: none;
            font-family: $font-sans;
            color: #64ffda;
            font-size: 14px;
            font-weight: 600;
            border: 1px solid #64ffda;
            padding: 0.75rem 1rem;
            border-radius: 4px;
            &:hover {
              background-color: rgba(100, 255, 218, 0.2);
              color: #64ffda;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 868px) {
  .tops {
    position: relative;
    height: 65px;
    .topNav {
      position: fixed;
      height: 65px;
      width: 100%;
      align-items: center;
      background-color: transparent;
      transition: top 0.6s;
      display: flex;
      justify-content: space-between;
      z-index: 1;
      .navall {
        position: relative;
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        .logo {
          position: relative;
          display: flex;
          align-self: center;
          top: 1.5em;
          img {
            height: 25px;
            width: 25px;
            object-fit: contain;
          }
        }
        .navs {
          position: relative;
          display: inline-flex;
          .one {
            ul {
              position: relative;
              list-style: none;
              display: flex;
              flex-direction: row;
              li {
                position: relative;
                font-family: $font-sans;
                font-weight: 400;
                margin-left: 1em;
                padding: 0.2em;
                cursor: pointer;
                a {
                  position: relative;
                  text-decoration: none;
                  color: #000;
                  font-size: 14px;
                  &:hover {
                    color: rgba(0, 0, 0, 0.548);
                  }
                }
                &:hover {
                  border-bottom: 2px solid #000; // 64ffda
                }
              }
            }
          }
          .two {
            position: relative;
            margin-left: 1em;
            top: 1.5em;
            a {
              position: relative;
              text-decoration: none;
              font-family: $font-sans;
              color: #64ffda;
              font-size: 14px;
              font-weight: 600;
              border: 1px solid #64ffda;
              padding: 0.75rem 1rem;
              border-radius: 4px;
              &:hover {
                background-color: rgba(100, 255, 218, 0.2);
                color: #64ffda;
              }
            }
          }
        }
      }
    }
  }
}
